@charset "UTF-8";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.header{
    background: #F5F5DC;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #555;
}




.search-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
    background: rgb(130, 141, 110,0.8); /* bluish background with transparency */
    backdrop-filter: blur(10px); /* glassmorphism */
    border-radius: 30px;
    padding: 5px 15px;
    max-width: 400px;
    width: 100%;
}

.search-form input[type="text"] {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
    flex: 1;
    padding: 8px;
    font-family: 'Segoe UI', sans-serif;
}

.search-form input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.search-form button {
    background: rgba(255, 255, 255, 0.15);
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-form button img {
    width: 16px;
    height: 16px;
    filter: brightness(0) invert(1);
}





