@charset "UTF-8";



body{
    font-family: 'poppins', sans-serif;
}




.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    max-width: 100%;
    padding: 10% 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}





/* ------------- */

.col-2{
    flex-basis: 50%;
    min-width: 300px;

}
.col-2 img{
    max-width: 100%;
    padding: 10% 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}


.account-page{
    padding: 0px 0;
    background: radial-gradient(#fff,#F5F5DC);

}

.form-container{
    background: #fff;
    width: 300px;
    height: 450px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
    
}

.btn{
    display: inline-block;
    background: #2c430b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn:hover{
    background-color: #208931;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
    display: inline-block;

}

.form-container .formm{
    max-width: 100%;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
    box-sizing: border-box;

}


form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;

}

form .btn :focus{
    outline: none;
}

#LoginForm{
    left: -300px;
}

#RegForm{
    left: 0;
    top: 70px;
}


#indicator{
    width: 100px;
    border: none;
    background: #2c430b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}


